.breadcrumbs{
  display: flex;
  flex-direction: row;

  &__item{
    position: relative;

    &:not(:last-child){
      margin-right: 22px;

      &::after{
        content: "/";
        position: absolute;
        right: -14px;
        top: 0;
        color: #9A9CA5;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }

  &__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-grey);

    &:not([href]){
      color: #9A9CA5;
    }
  }
}