.footer{
  padding: 80px 0;
  color: rgba(255,255,255, 0.6);
  background-color: var(--color-ebony);

  &__container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid-gap);
  }

  &__left{
    grid-column: 7 span;
  }

  &__top{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  &__descr{
    margin: 0;
    width: 100%;
    max-width: 493px;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-white);
    opacity: 0.6;
  }

  &__form{
    grid-column: 5 span;
  }
  &__address{
    grid-column: 4 span;
  }
  &__nav{
    grid-column: 8 span;
  }
  &__copyright{
    grid-column: 12 span;
  }

  &__logo{
    margin-right: 60px;
  }
  .form-field{
    margin: 0;
    width: 364px;
  }
  .form-field__input{
      width: 100%;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(255, 255, 255, 0.12);
  }

  &__copyright{
    padding-top: 29px;

    font-size: 12px;
    line-height: 150%;

    color: var(--color-white);

    span{
      padding-left: 24px;
      background-image: url("../img/svg/copyright_heart.svg");
      background-position: 4px center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }
}

.footer-form{
  margin-left: -2px;
  margin-bottom: 0;
  &__title{
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;

    color: var(--color-white);
  }
  &__items{
    display: flex;
    margin: 0 0 16px 0;
  }
  &__btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 24px;
    line-height: 42px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
  &__descr{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: var(--color-white);
    opacity: 0.6;
  }
}

.footer-title{
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--color-white);
}

.footer-address{
  padding-top: 19px;
  font-style: normal;

  &__item{
    display: block;
    font-size: 16px;
    line-height: 160%;

    &:not(:last-child){
      margin-bottom: 4px;
    }

    a{
      color: inherit;
    }
  }
  &__name{
    color: var(--color-white);
  }
}

.footer-nav{
  display: flex;
  padding-top: 20px;
  padding-left: 54px;
  &__col{
    &:not(:last-child){
      margin-right: 124px;
    }
  }
  &__item{
    &:not(:last-child){
      margin-bottom: 4px;
    }
  }
  &__link{
    font-size: 16px;
    line-height: 160%;
    color: inherit;
  }
}
