.form-field{
  display: flex;
  flex-direction: column;

  &__caption{
    padding-bottom: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-grey);
  }
  &__input{
    Width: 260px;
    Height: 44px;
    padding-left: 15px;
    background: #F4F5F7;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    font-size: 14px;
    line-height: 150%;

    &--big{
      padding-top: 10px;
      height: 66px;
      resize: none;
    }

    &::placeholder{
      color: #9a9ca5;
    }
  }

  &--big{
    flex-grow: 1;
    .form-field__input{
    width: 100%;
    }
  }

  &--grey{
    width: 100%;
    .form-field__input{
      width: 100%;
      background-color: #f4f5f7;;
    }
  }
}