.header{
  padding-top: 22px;
  padding-bottom: 22px;
  &__main {
    background-color: var(--color-white);
  }
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
  }
  &--secondary{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  &__link{
    padding-top: 4px;
  }
}

// навигация

.nav{
  &__list{
    display: flex;
    align-content: center;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -111px;
    padding-bottom: 1px;
  }
  &__item{
    &:not(:last-child){
      margin-right: 41px;
    }
  }
  &__item-link{
    font-family: $fontGeneral;
    font-style: normal;
    color: var(--color-grey);
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
  }
}

// контакты

.header-contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 4px;
  &__link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}
.contacts-link{
  padding-left: 51px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  &:not(:last-child){
    margin-right: 38px;
  }

  &__caption{
    color: var(--color-grey);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }
  &__value{
    color: var(--color-ebony);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
  &--call{
    background-image: url("../img/svg/mobileSVG.svg");
  }
  &--mail{
    background-image: url("../img/svg/mailSVG.svg");
  }
}