.header{
  &__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1235px;
    min-height: 92px;
  }
}

// навигация

.nav{
  &__list{
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item{
    &:not(:last-child){
      margin-right: 40px;
    }
  }
  &__item-link{
    color: var(--color-gray);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
}

// контакты

.header-contacts{
  display: flex;
  align-items: center;
  justify-content: center;
  &__link{
    display: flex;
    flex-direction: column;
  }

}
.contacts-link{
  padding-left: 60px;
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;

  &__caption{
    color: var(--color-grey);
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
  }
  &__value{
    color: #1E212C;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }
  &--call{
  background-image: url("../img/svg/mobileSVG.svg");
  }
  &--mail{

  }
}