mixin achievements
    section.achievements
        .container
            h2.visually-hidden.
                Our Achievements
            ul.list-reset.achievements__list.grid
                li.achievements__item.achievements__item--icon1
                    .achievements__value.
                        60%
                    .achievements__text.
                        Clients on the recommendation of friends
                li.achievements__item.achievements__item--icon2
                    .achievements__value.
                        2400+
                    .achievements__text.
                        Apartments renovated
                li.achievements__item.achievements__item--icon3
                    .achievements__value.
                        670
                    .achievements__text.
                        Qualified specialists
                li.achievements__item.achievements__item--icon4
                    .achievements__value
                        |   150000+ m
                        sup 2
                    .achievements__text.
                        Finishing work was carried out
            .achievements__employee.employee
                .employee__image
                    img(src="../../img/aboutUs-page/employee.jpg" alt="employee" aria-hidden="true")
                .employee__info
                    blockqoute.employee__quote.quote
                        .quote__content
                            p.
                                Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi. Odio massa purus vel praesent arcu enim elit felis viverra.
                            p.
                                Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum integer.
                        footer.quote__footer.
                                Courtney Alexander
                            span.quote__author.
                                CEO - Createx Construction Bureau