mixin achievements
    section.achievements
        .container
            h2.visually-hidden.
                Our Achievements
            ul.list-reset.achievements__list.grid
                li.achievements__item.achievements__item--icon1
                    .achievements__value.
                        60%
                    .achievements__text.
                        Clients on the recommendation of friends
                li.achievements__item.achievements__item--icon2
                    .achievements__value.
                        2400+
                    .achievements__text.
                        Apartments renovated
                li.achievements__item.achievements__item--icon3
                    .achievements__value.
                        670
                    .achievements__text.
                        Qualified specialists
                li.achievements__item.achievements__item--icon4
                    .achievements__value
                        |   150000+ m
                        sup 2
                    .achievements__text.
                        Finishing work was carried out