include _hero-section
include _about-section
include _mission-section
include _ourServices-section
include _portfolio-section
include _partners-index
include _partners-interior-design
include _partners-our-work
include _recalls
include _facts
include _news
include _contacts-section
include _services-content
include _we-offer
include _how-we-do
include _our-benefits
include _related-projects
include _pricing
include _portfolio
include _project-goal
include _decisions
include _similar-projects


