mixin decisions
    section.decisions
        .container.grid
            .decisions__left
                img(src="/img/project1-page/decisions-image.jpg" alt="decisions-image")
            .decisions__right
                h2.title.decisions__title.
                    Constructive decisions
                ul.decisions__list.list-reset
                    li.decisions__item.
                        Vitae ultrices ornare eu sed in est quisque duis id.
                    li.decisions__item.
                        A fermentum in morbi pretium aliquam adipiscing donec tempus.
                    li.decisions__item.
                        Mauris odio pellentesque commodo, diam.
                    li.decisions__item.
                        Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
                    li.decisions__item.
                        At pharetra libero blandit risus, fringilla sed commodo diam.
                    li.decisions__item.
                        Integer ultricies viverra ut enim viverra ut.