mixin facts
    section.facts
        .container
            h2.title.title--center.
                Some facts and figures
            ul.list-reset.facts__list
                li.facts__item
                    .facts-element
                        .facts-element__circle
                            svg(class="circle-bg" viewBox="-10 -10 320 320")
                                circle(class="progress-bg" r="148" cx="148" cy="148" fill="none" stroke="rgba(248, 152, 40, 0.4)" stroke-width="15")
                            svg(class="circle" viewBox="-10 -10 320 320")
                                circle(class="progress" r="148" cx="148" cy="148" fill="none" stroke="#F89828" stroke-width="15")
                            .facts-element__value.
                                98%
                        span.facts-element__text.
                            Totally satisfied clients