mixin facts
    section.facts
        .container
            h2.title.title--center.facts__title.
                Some facts and figures
            ul.list-reset.facts__list
                li.facts__item
                    .facts-element
                        div(data-percent="88").facts-element__circle.facts-element__circle--one-color
                            svg(class="circle-bg" viewBox="-10 -10 320 320")
                                circle(class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            svg(class="circle" viewBox="-10 -10 320 320")
                                circle(class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            .facts-element__value.
                                88%
                        span.facts-element__text.
                            Totally satisfied clients
                li.facts__item
                    .facts-element
                        div(data="80" data-value="20").facts-element__circle.facts-element__circle--two-color
                            svg(class="circle-bg" viewBox="-10 -10 320 320")
                                circle(class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            svg(class="circle" viewBox="-10 -10 320 320")
                                circle(class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            .facts-element__value.
                                20
                        span.facts-element__text.
                            Years of experience
                li.facts__item
                    .facts-element
                        div(data="10000" data-value="9452").facts-element__circle.facts-element__circle--three-color
                            svg(class="circle-bg" viewBox="-10 -10 320 320")
                                circle(class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            svg(class="circle" viewBox="-10 -10 320 320")
                                circle(class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            .facts-element__value.
                                9452
                        span.facts-element__text.
                            Working hours spent
                li.facts__item
                    .facts-element
                        div(data-percent="88").facts-element__circle.facts-element__circle--four-color
                            svg(class="circle-bg" viewBox="-10 -10 320 320")
                                circle(class="progress-bg" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            svg(class="circle" viewBox="-10 -10 320 320")
                                circle(class="progress" r="150" cx="150" cy="150" fill="none" stroke-width="13")
                            .facts-element__value.
                                100%
                        span.facts-element__text.
                            Succeeded projects