mixin how-we-do
    section.how-we-do
        .container
            h2.title.how-we-do__title.
                That’s how we do it
            ul.list-reset.how-we-do__list
                li.how-we-do__item
                    h3.how-we-do__subtitle.
                        Work Estimate
                    p.how-we-do__descr.
                        Culpa nostrud commodo ea consequat aliquip reprehenderit.
                li.how-we-do__item
                    h3.how-we-do__subtitle.
                        Contract
                    p.how-we-do__descr.
                        Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.
                li.how-we-do__item
                    h3.how-we-do__subtitle.
                        Mobilization
                    p.how-we-do__descr.
                        Odio massa scelerisque purus arcu sed velit eleifend cursus leo.
                li.how-we-do__item
                    h3.how-we-do__subtitle.
                        Construction Work
                    p.how-we-do__descr.
                        Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.