mixin mission
    section.mission.section-offset
        .container
            h2.title.title--center.
                Our core values
            p.descr.descr--center.
                Our mission is to set the highest standards for construction sphere.
