mixin news
    section.news
        .container
            h2.title.title--center.news__title.
                Recent news
            ul.list-reset.news__list.grid
                li.news__item
                    article.news-article
                        img(src="../../img/news_photo1.jpg" alt="article1").news-article__image
                        .news-article__text
                            h3.news-article__title
                                a(href="#").news-article__link.
                                    How to Build Climate Change-Resilient Infrastructure
                            .news-article__meta.article-meta
                                a(href="#").article-meta__item.
                                    Industry News
                                time(datetime="2020-06-24 11:00").article-meta__item.
                                    June 24, 2020
                                span.article-meta__item.article-meta__item--comments.
                                        4 comments
                            p.news-article__descr.
                                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
                li.news__item
                    article.news-article.news-article--small
                        img(src="../../img/news_photo2.jpg" alt="article1").news-article__image
                        .news-article__text
                            h3.news-article__title
                                a(href="#").news-article__link.
                                    How Construction Can Help Itself
                            .news-article__meta.article-meta
                                a(href="#").article-meta__item.
                                    Innovation
                                time(datetime="2020-06-12 11:00").article-meta__item.
                                    June 12, 2020
                                span.article-meta__item.article-meta__item--comments.
                                    No comments
                            p.news-article__descr.
                                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
                li.news__item
                    article.news-article.news-article--small
                        img(src="../../img/news_photo3.jpg" alt="article1").news-article__image
                        .news-article__text
                            h3.news-article__title
                                a(href="#").news-article__link.
                                    Types of Flooring Materials
                            .news-article__meta.article-meta
                                a(href="#").article-meta__item.
                                    Company News
                                time(datetime="2019-12-01 11:00").article-meta__item.
                                    December 1, 2019
                                span.article-meta__item.article-meta__item--comments.
                                    No comments
                            p.news-article__descr.
                                Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            .news-allWorks.subtitleSection
                h3.subtitle.
                    Explore all our news posts
                a(href="").btn-reset.btn.btn--fill.
                    View all news