mixin ourServices-section
    section.ourServices-section.section-offset
        .container
            h2.title.title--center.
                Our services
            p.descr.descr--center.
                Createx Construction Bureau is a construction giant with a full range of construction services.
            ul.ourServices-list.list-reset.ourServices-list--section
                li.ourServices-list__item
                    a(href="#").ourServices-item.ourServices-item--construction
                        .ourServices-item__content
                            svg(aria-hidden="true").ourServices-item__icon
                                use(xlink:href="#ourServices_Construction")
                            h4.ourServices-item__title.
                                Construction
                li.ourServices-list__item
                    a(href="#").ourServices-item.ourServices-item--development
                        .ourServices-item__content
                            svg(aria-hidden="true").ourServices-item__icon
                                use(xlink:href="#ourServices_Development")
                            h4.ourServices-item__title.
                                Project Development
                li.ourServices-list__item
                    a(href="#").ourServices-item.ourServices-item--interiorDesign
                        .ourServices-item__content
                            svg(aria-hidden="true").ourServices-item__icon
                                use(xlink:href="#ourServices_interiorDesign")
                            h4.ourServices-item__title.
                                Interior Design
                li.ourServices-list__item
                    a(href="#").ourServices-item.ourServices-item--repairs
                        .ourServices-item__content
                            svg(aria-hidden="true").ourServices-item__icon
                                use(xlink:href="#ourServices_Repairs")
                            h4.ourServices-item__title.
                                Repairs
            .ourServices__about
                h3.subtitle.
                    Learn more about our services
                btn.btn-reset.btn.btn--fill.
                    View services

