mixin our-benefits
    section.our-benefits
        .container
            h2.title.title--center.our-benefits__title.
                Our benefits
            p.descr.descr--center.
                Our mission is to set the highest standards for construction sphere.
            ul.list-reset.our-benefits__list
                li.our-benefits__item.our-benefits__item--fixed
                    h4.our-benefits__subtitle.
                        Fixed Terms & Cost
                    p.our-benefits__descr.
                        Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                li.our-benefits__item.our-benefits__item--qualifed
                    h4.our-benefits__subtitle.
                        Qualified Workers
                    p.our-benefits__descr.
                        Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
                li.our-benefits__item.our-benefits__item--supervision
                    h4.our-benefits__subtitle.
                        Supervision & Control
                    p.our-benefits__descr.
                        Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
            .centered.our-benefits__centered
                button.btn.btn--fill.our-benefits__btn.
                    Discuss a project