mixin ourServices
    section.ourServices.section-offset
        .container
            h2.title.title--center.
                Our services
            p.descr.descr--center.
                Createx Construction Bureau is a construction giant with a full range of construction services.
            ul.ourServices-list.list-reset
                li.ourServices-list__item
                    svg(aria-hidden="true").ourServices-item__icon
                        use(href="./../img/svg/ourServices_Construction.svg")
            .ourServices__about
                h3.subtitle.
                    Learn more about our services
                btn.btn-reset.btn.
                    View services

