mixin portfolio-section
    section.portfolio-section.section-offset
        .container
            .portfolio-section__top
                h2.title.portfolio-section__title.
                    Browse our selected projects
                    and learn more about our work
                .slider-nav.portfolio-section__slider-nav
                    button.btn-reset.slider-nav__btn.portfolio-section__prev.slider-btn
                        svg
                            use(xlink:href="#slider_leftArrow")
                    button.btn-reset.slider-nav__btn.portfolio-section__next.slider-btn
                        svg
                            use(xlink:href="#slider_rightArrow")
            .swiper.portfolio-section__items
                .swiper-wrapper
                    .swiper-slide
                        a(href="#").portfolio-item
                            img(src="../../img/portfolio-item1.jpg" alt="Portfolio cover").portfolio-item__image
                            .portfolio-item__content
                                h3.portfolio-item__title.
                                    Red Finger Building
                                span.portfolio-item__descr.
                                    Business Centers
                                .portfolio-item__btn.btn.btn--stroke.
                                    View Project
                    .swiper-slide
                        a(href="#").portfolio-item
                            img(src="../../img/portfolio-item1.jpg" alt="Portfolio cover").portfolio-item__image
                            .portfolio-item__content
                                h3.portfolio-item__title.
                                    Cubes Building
                                span.portfolio-item__descr.
                                    Business Centers
                                .portfolio-item__btn.btn.btn--stroke.
                                    View Project
                    .swiper-slide
                        a(href="#").portfolio-item
                            img(src="../../img/portfolio-item3.jpg" alt="Portfolio cover").portfolio-item__image
                            .portfolio-item__content
                                h3.portfolio-item__title.
                                    The Pencil Building
                                span.portfolio-item__descr.
                                    Stores & Malls
                                .portfolio-item__btn.btn.btn--stroke.
                                    View Project
            .portfolio-allWorks.subtitleSection
                h3.subtitle.
                    Explore all our works
                a(href="").btn-reset.btn.btn--fill.
                    View portfolio