mixin portfolio
    section.portfolio
        .container
            h2.visually-hidden.
                Portfolio
            ul.portfolio-tabs-nav.list-reset
                li.portfolio-tabs-nav__item
                    button(data-path="all").btn-reset.portfolio-tabs-nav__btn.portfolio-tabs-nav__btn--active
                        svg(aria-hidden="true").portfolio-tabs-nav__icon
                            use(xlink:href="#portfolio_AllProjects")
                        span.portfolio-tabs-nav__text.
                            All Projects
                li.portfolio-tabs-nav__item
                    button(data-path="constr").btn-reset.portfolio-tabs-nav__btn
                        svg(aria-hidden="true").portfolio-tabs-nav__icon
                            use(xlink:href="#portfolio_Construction")
                        span.portfolio-tabs-nav__text.
                            Construction
                li.portfolio-tabs-nav__item
                    button(data-path="dev").btn-reset.portfolio-tabs-nav__btn
                        svg(aria-hidden="true").portfolio-tabs-nav__icon
                            use(xlink:href="#portfolio_ProjectDevelopment")
                        span.portfolio-tabs-nav__text.
                            Project Development
                li.portfolio-tabs-nav__item
                    button(data-path="design").btn-reset.portfolio-tabs-nav__btn
                        svg(aria-hidden="true").portfolio-tabs-nav__icon
                            use(xlink:href="#portfolio_InteriorDesign")
                        span.portfolio-tabs-nav__text.
                            Interior Design
                li.portfolio-tabs-nav__item
                    button(data-path="repairs").btn-reset.portfolio-tabs-nav__btn
                        svg(aria-hidden="true").portfolio-tabs-nav__icon
                            use(xlink:href="#portfolio_Repairs")
                        span.portfolio-tabs-nav__text.
                            Repairs
            ul.list-reset.portfolio-tabs.grid
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="repairs").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="design").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="dev").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="all").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="repairs").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="repairs").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="dev").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
                li.portfolio-tabs__item.portfolio-tabs__item--visible
                    a(href="#" data-target="constr").portfolio-item
                        img(src="/img/portfolio-item1.jpg" alt="Portfolio-tabs cover").portfolio-item__image
                        .portfolio-item__content
                            h3.portfolio-item__title.
                                Red Finger Building
                            span.portfolio-item__descr.
                                Business Centers
                            .portfolio-item__btn.btn.btn--stroke.
                                View Project
            .centered
                button.btn-reset.portfolio-more
                    svg(aria-hidden="true")
                        use(xlink:href="#portfolio_loadmore")
                    |Load more
