mixin portfolio-section
    section.portfolio-section.section-offset
        .container
            .portfolio-section__top
                h2.title.portfolio-section__title.
                    Browse our selected projects
                    and learn more about our work
                .slider-nav.portfolio-section__slider-nav
                    button.btn-reset.slider-nav__btn.portfolio-section__prev.slider-btn
                        svg
                            use(xlink:href="#slider_leftArrow")
                    button.btn-reset.slider-nav__btn.portfolio-section__next.slider-btn
                        svg
                            use(xlink:href="#slider_rightArrow")
            .swiper.portfolio-section__items
                .swiper-wrapper
                    .swiper-slide Slide 1
                    .swiper-slide Slide 2
                    .swiper-slide Slide 3
            .portfolio-allWorks
                h3.subtitle.
                    Explore all our works
                button.btn-reset.btn.btn-fill.
                    View portfolio