mixin pricing
    section.pricing
        img(src="../img/interiorDesign-page/pricing-decorate.png" alt="pricing-decorate" aria-hidden="true").pricing__decorate
        .container
            h2.title.title--center.
                Pricing
            p.descr.descr--center.pricing__descr.
                We offer you three categories of construction.
            .table-wrapper
                table.pricing__table.table
                    caption.visually-hidden.
                        Tariffs table
                    thead.table__header
                        tr.table__row
                            th.table__th.
                                Items
                            th.table__th
                                .table__heading.
                                    BASIC
                                .table__per.
                                    $20 per m2
                            th.table__th
                                .table__heading.
                                    STANDARD
                                .table__per.
                                    $30 per m2
                            th.table__th
                                .table__heading.
                                    BUSINESS
                                .table__per.
                                    $40 per m2
                    tbody.table__body
                        tr.table__row
                            td.table__col.
                                Installation plan
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Planning solutions (2-3 options)
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Lighting plan
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Flooring plan
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Heating floor laying scheme
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Air conditioner zones layout
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                3D visualization of all rooms
                            td.table__col
                                span.table__text.
                                    simplified
                            td.table__col
                                span.table__check.
                                    Available
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Visualization of each room (3-4 angles)
                            td.table__col
                            td.table__col
                            td.table__col
                                span.table__check.
                                    Available
                        tr.table__row
                            td.table__col.
                                Terms
                            td.table__col
                                span.table__text.
                                    10 days
                            td.table__col
                                span.table__text.
                                    20 days
                            td.table__col
                                span.table__text.
                                    30 days
                        tr.table__row
                            td.table__col.
                            td.table__col
                                button.btn.btn--stroke-primary.btn-reset.
                                    send request
                            td.table__col
                                button.btn.btn--stroke-primary.btn-reset.
                                    send request
                            td.table__col
                                button.btn.btn--stroke-primary.btn-reset.
                                    send request
