mixin project-goal
    section.project-goal
        .container.grid
            .project-goal__left
                h2.title.project-goal__title.
                    Project goal
                p.project-goal__descr.
                    Build a private house 840 sq. feet with a large living room, three bedrooms, two bathrooms, a terrace, a pool and a garage for two cars.
                p.project-goal__descr.
                    Modern design and care for each family member to feel as comfortable as possible in the new home.
            .project-goal__right
                .project-info
                    .project-info__list.list-reset
                        .project-info__item
                            .project-info__category.
                                LOCATION
                            .project-info__value.
                                2464 Royal Ln. Mesa, New Jersey
                        .project-info__item
                            .project-info__category.
                                CLIENT
                            .project-info__value.
                                Darlene Robertson
                        .project-info__item
                            .project-info__category.
                                ARCHITECT
                            .project-info__value.
                                HIK Architecture
                        .project-info__item
                            .project-info__category.
                                SIZE
                            .project-info__value.
                                840 sq. feet
                        .project-info__item
                            .project-info__category.
                                VALUE
                            .project-info__value.
                                $2 million
                        .project-info__item
                            .project-info__category.
                                COMPLETED
                            .project-info__value.
                                May 2020
