mixin recalls
    section.recalls-section
        .container
            .recalls__content
                h2.title.
                    What our clients are saying
                .swiperRecalls.recalls__items.swiper-no-swiping
                    .swiper-wrapper
                        .swiper-slide
                            .recalls-item
                                .recalls-item__img
                                    img(src="../../img/recalls_profileImg.jpg" alt="eachTestimonials").recalls-item__image
                                p.recalls-item__descr.
                                    Ipsum aute sunt aliquip aute et occaecat.
                                    Anim minim do cillum eiusmod enim. Consectetur
                                    magna cillum consequat minim  laboris cillum laboris
                                    voluptate minim proident exercitation ullamco.
                                span.recalls-item__author.
                                    Shawn Edwards
                                span.recalls-item__author-position.
                                    Position, Company name
                .slider-nav.recalls-section__slider-nav
                    button.btn-reset.slider-nav__btn.recalls-section__prev.slider-btn
                        svg
                            use(xlink:href="#slider_leftArrow")
                    button.btn-reset.slider-nav__btn.recalls-section__next.slider-btn
                        svg
                            use(xlink:href="#slider_rightArrow")
            .recalls-image
                img(src="../../img/recalls_image.jpg" aria-hidden="true")