mixin we-offer
    section.we-offer
        .container.we-offer__container
            .we-offer__image
                img(src="../img/interiorDesign-page/weOffer_img.jpg" alt="We offer something")
            .we-offer__content
                h2.title.we-offer__title

