.achievements{
  padding: 121px 0 120px;

  &__list{
    margin-bottom: 120px;
  }

  &__item{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 260px;

    padding-top: 69px;

    grid-column: 3 span;

    background-position: top center;
    background-size: 48px 48px;
    background-repeat: no-repeat;

    &--icon1{
      background-image: url("../img/aboutUs-page/achievements-icon1.svg");
    }

    &--icon2{
      background-image: url("../img/aboutUs-page/achievements-icon2.svg");
    }

    &--icon3{
      background-image: url("../img/aboutUs-page/achievements-icon3.svg");
    }

    &--icon4{
      background-image: url("../img/aboutUs-page/achievements-icon4.svg");
    }
  }

  &__text{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-ebony);
  }

  &__value{
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 8px;

    color: var(--color-primary);
  }
}

.employee{
  padding-top: 80px;
  display: flex;
  align-items: flex-start;

  &__image{
    z-index: 2;

  }

  &__info{
    position: relative;
    padding: 80px 105px 77px;
    left: -30px;
    z-index: 10;
    flex-shrink: 0;
    border-radius: 4px;
    max-width: 735px;
    box-shadow: var(--main-shadows);
    background: var(--color-white);
  }
}

.quote{
  &__content{
    p {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;

      color: var(--color-ebony);

      &:not(:last-child){
        margin-bottom: 20px;
      }
    }
  }

  &__footer{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;

    color: var(--color-ebony);
  }

  &__author{
    font-style: normal;
    font-size: 14px;
    line-height: 150%;

    color: var(--color-storm);
  }
}