.facts{
  padding-top: 180px;
  background-image: url("../img/facts_background.jpg");

  &__title{
    padding-bottom: 60px;
  }

  &__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 736px;
    gap: 48px;
  }
}

.facts-element{
  height: 100%;
  width: 100%;
  &__circle{
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .progress{
    //transform: rotate();
  }
}