.how-we-do{
  padding-bottom: 120px;
  margin: 0;

  &__list{
    padding-top: 60px;
    counter-reset: section;
  }

  &__item{
    position: relative;
    display: flex;
    flex-direction: column;
    grid-column: 3 span;

    &::before{
      counter-increment: section;
      content: "0"counter(section);
      margin-bottom: 16px;

      font-weight: 700;
      font-size: 46px;
      line-height: 130%;
      color: #D7DADD;
    }

    &:not(:last-child){
      &::after{
        content: "";
        position: absolute;
        top: 30px;
        right: 0;
        width: 75%;
        height: 1%;
        background-image: url("../img/interiorDesign-page/how-we-do__item-line.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__subtitle{
    margin: 0 0 9px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    color: var(--color-ebony);
  }

  &__descr{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: var(--color-storm);
  }
}