.news{
  background-color: var(--color-white);
  &__title{
    padding-bottom: 60px;
  }
  &__list{
    padding: 0 2px 80px 2px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 255px);
    gap: var(--grid-gap);
  }

  &__item{
    grid-column:  5 span;
    &:first-child{
      grid-column: 7 span;
      grid-row: 2 span;
    }

  }
}

.news-article{
  overflow: hidden;
  border-radius: 4px;
  height: 100%;
  box-shadow: var(--main-shadows);
  background: var(--color-white);
  &__image{

  }
  &__title{
    margin: 0 0 13px 0;
  }
  &__descr{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: var(--color-grey);
  }

  &__meta{
    padding-bottom: 16px;
  }
  &__link{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    color: var(--color-darkStorm);
  }

  &__text{
    padding: 24px 24px 25px 24px;
  }

  &--small{
    .news-article__descr{
      display: none;
    }
    .news-article__text{
      padding: 16px 24px 24px;
    }
    .news-article__title{
      margin-bottom: 9px;
    }
  }
}
.article-meta{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: var(--color-storm);

  &__item{
    position: relative;
    color: inherit;

    &:not(:last-child){
      margin-right: 24px;

      &::after{
        content:"";
        position: absolute;
        right: -12px;
        top: 3px;
        width: 1px;
        height: 11px;
        color: inherit;
        background-color: currentColor;
      }
    }

    &--comments{
      padding-left: 24px;
      background-image: url("../../src/img/svg/news_chat.svg");
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }
  }
}

.news-allWorks{
  padding-bottom: 120px;
}