.partners-section{
  background-color: #F4F5F7;
  margin-left: -4px;
  .title{
    padding-bottom: 60px;
  }

  &__interior-design{
    padding-top: 121px;
    padding-bottom: 120px;
  }

  &__index{
    padding-top: 81px;
    padding-bottom: 90px;
  }

  &__ourWork{
    padding-top: 170px;
    padding-bottom: 120px;
    background-color: var(--color-white);
  }
}
.partners-list{
  display: flex;
  justify-content: center;
  align-items: center;
  &__item{
    height: 64px;
    width: 120px;
    &:not(:last-child){
      margin-right: 102px;
    }
  }
}