.project-goal{
  padding: 0 0 119px 0;

  &__left{
    grid-column: 6 span;
    padding-top: 36px;
  }

  &__right{
    display: flex;
    justify-content: flex-end;
    grid-column: 6 span;
    margin: -4px 3px 0 0;
  }

  &__title{
    margin-bottom: 39px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;

    color: var(--color-darkStorm);
  }

  &__descr{
    font-size: 18px;
    line-height: 150%;

    color: var(--color-grey);

    &:not(:last-child){
      margin-bottom: 26px;
    }
  }
}

.project-info{
  padding: 40px 60px;
  width: 495px;
  min-height: 316px;
  border-radius: 4px;
  box-shadow: var(--main-shadows);
  background: var(--color-white);

  &__item{
    display: flex;
    &:not(:last-child){
      margin-bottom: 16px;
    }
  }

  &__category{
    width: 130px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-transform: uppercase;

    color: var(--color-darkStorm);
  }

  &__value{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;

    color: var(--color-storm);
  }
}