@import "components/header";
@import "components/request";
@import "components/footer";


html {
  background: white;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// скролл
/* убрать скролл
::-webkit-scrollbar {
  width: 0;
}
*/

#element::-webkit-scrollbar {
  width: 10px;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

#element::-webkit-scrollbar-thumb {
  background-color: #f2bf93;
  background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, .25) 50%,
          rgba(255, 255, 255, .25) 75%,
          transparent 75%,
          transparent);
}


