$fontGeneral: Ubuntu;
$container-offset: 15px;

:root{
--min-width: 1260px;
--color-grey: #424551;
--color-light: #E5E5E5;
--color-darkStorm: #1E212C;
--color-storm: #787A80;
--color-ebony: #1E212C;
--color-white: #FFFFFF;
--color-primary: #FF5A30;

//sizes
--grid-gap: 30px;
--slider-width: 1240px;
}