$fontGeneral: Ubuntu;
$container-offset: 15px;

:root{
--min-width: 1260px;
--color-grey: #424551;
--color-light: #E5E5E5;
--color-darkStorm: #1E212C;
--color-storm: #787A80;
--color-ebony: #1E212C;
--color-white: #FFFFFF;
--color-primary: #FF5A30;
--color-athens: #F4F5F6;

//sizes
--grid-gap: 30px;
--slider-width: 1240px;

//stylization

--main-shadows:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);
}