@use 'global';
@use 'fonts';
@use 'mixin';

//@import "~bootstrap/scss/bootstrap";

$fontFamily: "generalFontBold";

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ПЕРЕМЕННЫЕ>

@use 'null';