mixin accordion-det
    details.accordion
        summary.accordion__control
            h3.accordion__title.
                Accordion 1
            span.accordion__icon
        .accordion__content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus deserunt error impedit, labore maiores minus, molestiae natus odit optio possimus provident quis repellendus, similique sint sunt totam ullam voluptatibus.