mixin accordion
    ul.accordion__list.list-reset
        li.accordion
            button(aria-expended="false").accordion__control
                span.accordion__title.
                    Accordion
                span.accordion__icon
            div(aria-hidden="true").accordion__content.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid amet cupiditate exercitationem minima, mollitia nesciunt non optio perspiciatis quisquam quos recusandae voluptas voluptate. Excepturi laboriosam nemo obcaecati reiciendis voluptatem.