mixin accordion_interior-design
        .accordion.accordion-1.we-offer__accordion
            button(aria-expended="false").btn-reset.accordion__control
                span.accordion__title.
                    Interior design of apartments
                span.accordion__icon-offer
            div(aria-hidden="true").accordion__content
                p Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
        .accordion.accordion-2.we-offer__accordion
            button(aria-expended="false").btn-reset.accordion__control
                span.accordion__title.
                    Interior design of private houses
                span.accordion__icon-offer
            div(aria-hidden="true").accordion__content
                p empty

