mixin accordion
    ul.accordion__list.list-reset
        li.accordion
            button(aria-expended="false").accordion__control.btn-reset
                span.accordion__title.
                    Interior design of apartments
                span.accordion__icon
            div(aria-hidden="true").accordion__content
                p Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
        li.accordion
            button(aria-expended="false").accordion__control.btn-reset
                span.accordion__title.
                    Interior design of private houses
                span.accordion__icon
            div(aria-hidden="true").accordion__content
                p empty

