mixin hero-services
    section.page-hero.page-hero__services
        .container
            ul.list-reset.breadcrumbs.page-hero__breadcrumbs
                li.breadcrumbs__item
                    a(href="../index.html").breadcrumbs__link.
                        Homepage
                li.breadcrumbs__item
                    a().breadcrumbs__link.
                        Services
                li.breadcrumbs__item
                    a(href="./interior-design.html").breadcrumbs__link.
                        Interior Design
            h1.page-hero__title.
                Services
            p.page-hero__descr.
                If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing our best to be a partner for all of your construction needs.

