mixin hero-interiorDesign
    section.page-hero.page-hero__interiorDesign
        .container
            ul.list-reset.breadcrumbs.page-hero__breadcrumbs
                li.breadcrumbs__item
                    a(href="../index.html").breadcrumbs__link.
                        Homepage
                li.breadcrumbs__item
                    a(href="../pages/services.html").breadcrumbs__link.
                        Services
                li.breadcrumbs__item
                    a().breadcrumbs__link.
                        Interior Design
            h1.page-hero__title.
                INTERIOR DESIGN
            p.page-hero__descr.
                Dui augue nec mi mi. Ut ac lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.

