mixin hero-aboutUs
    section.page-hero.page-hero__aboutUs
        .container
            ul.list-reset.breadcrumbs.page-hero__breadcrumbs
                li.breadcrumbs__item
                    a(href="../index.html").breadcrumbs__link.
                        Homepage
                li.breadcrumbs__item
                    a(href="").breadcrumbs__link.
                        About us
            h1.page-hero__title.
                ABOUT US
            p.page-hero__descr.
                Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service.

