mixin hero-projects
    section.page-hero.page-hero__project1
        .container
            ul.list-reset.breadcrumbs.page-hero__breadcrumbs
                li.breadcrumbs__item
                    a(href="../index.html").breadcrumbs__link.
                        Homepage
                li.breadcrumbs__item
                    a(href="our-work.html").breadcrumbs__link.
                        Work
                li.breadcrumbs__item
                    a().breadcrumbs__link.
                        Modern Cottage
            h1.page-hero__title.page-hero__title--project1.page-hero__title--mb.
                Modern Cottage
            .projects-images.projects-images__project1
                .projects-images-slider
                    .slider-nav.projects-images__slider-nav
                        button.btn-reset.slider-nav__btn.projects-images__prev.slider-btn
                            svg
                                use(xlink:href="#slider_leftArrow")
                        button.btn-reset.slider-nav__btn.projects-images__next.slider-btn
                            svg
                                use(xlink:href="#slider_rightArrow")
                    .swiper-wrapper
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1.jpg" alt="project1-slide1")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide2.jpg" alt="project1-slide2")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1.jpg" alt="project1-slide1")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1.jpg" alt="project1-slide1")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide2.jpg" alt="project1-slide2")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1.jpg" alt="project1-slide1")
                .projects-images-nav
                    .swiper-wrapper
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1-mini.png" alt="project1-slide1")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide2-mini.png" alt="project1-slide2")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1-mini.png" alt="project1-slide1")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1-mini.png" alt="project1-slide1")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide2-mini.png" alt="project1-slide2")
                        .swiper-slide
                            img(src="/img/project1-page/project1-slide1-mini.png" alt="project1-slide1")



