mixin hero-ourWork
    section.page-hero.page-hero__ourWork
        .container
            ul.list-reset.breadcrumbs.page-hero__breadcrumbs
                li.breadcrumbs__item
                    a(href="../index.html").breadcrumbs__link.
                        Homepage
                li.breadcrumbs__item
                    a().breadcrumbs__link.
                        Work
            h1.page-hero__title.
                Our Work
            p.page-hero__descr.
                Our portfolio represents 20 years of construction experience backed by a passion for perfect client service, quality and innovations in consctuction industry.

