include libs/_libs

doctype html
html(lang='en')
    include _head
    body
        .container
            | Hello from Webpack
            h1 Webpack
            h2 webpack
            //h2.container__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, ipsam!
            //+image('angular')
            //+image('webpack')


