include libs/_libs
include components/_components
include blocks/_blocks


doctype html
html(lang='en')
    include _head
    include libs/_sprite
    body
        block content
        include _scripts
