extends ../layout

block content
    +header
    main
        +hero-section
        +about-section
        +mission-section
        +ourServices-section
        +portfolio-section
        +partners
        +recalls
        +facts
        +news
        +contacts-section
    +footer





