extends ../layout

block content
    +header-services
    main
        +hero-interiorDesign
        +we-offer
        +how-we-do
        +our-benefits
        +related-projects
        +pricing
        +partners-interior-design
        +contacts-section
    +footer