extends ../layout

block content
    +header-secondary
    main
        +hero-interiorDesign
        +we-offer
        +how-we-do
        +our-benefits
        +partners
        +contacts-section
    +footer